.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  justify-items: center;
  padding: 3rem 1rem;
  gap: 4rem;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}
.heroTexts {
  display: flex;
  flex-direction: column;
  max-width: 30rem; /* or 50ch / 40rem */
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.heroTexts h1 {
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 2.5rem);
}

.gradientText {
  background: linear-gradient(
    90deg,
    var(--gradient-start),
    var(--gradient-end)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.heroTextsBtn {
  padding: 1rem 1.5rem;
  font-weight: 600;
  margin-top: 2rem;
}

.heroImage {
  width: 100%;
  height: auto;
  display: block;
  max-width: 30rem;
  object-fit: cover;
}

.heroTextsBtn:hover,
.heroTextsBtn:active {
  background-color: var(--secondory-color);
  color: var(--text-light);
}
@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

/* @media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
} */

@media (min-width: 37.5rem) {
  .page {
    padding: 2rem;
    padding-bottom: 4rem;
    margin-top: 3rem;
  }
}
@media (min-width: 64rem) {
  .hero {
    flex-direction: row;
  }

  .heroTexts {
    align-items: flex-start;
  }

  .heroTexts h1 {
    text-align: left;
  }
}
/* @media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
} */
